* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red {
    width: 500px;
    height: 500px;
    background-color: red;
    position: relative;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.secondo {
    position: absolute;
    top: 0;
    right: 0;
}

.terzo {
    position: absolute;
    right: 0;
    bottom: 0;
}